.modal-title {
    text-align: center;
    color: #DAA520; /* Cor dourada */
    margin-bottom: 15px; /* Menor espaço abaixo do título */
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 5px; /* Menos espaço entre os grupos */
}

.form-input {
    width: calc(100% - 20px); /* Diminuindo a largura dos campos */
    padding: 6px; /* Padding reduzido */
    border: 1px solid #DAA520; /* Borda dourada */
    border-radius: 4px; /* Bordas arredondadas menores */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para os campos */
    font-size: 12px; /* Tamanho da fonte reduzido */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
}

.form-input:focus {
    border-color: #FFD700; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(218, 165, 32, 0.5); /* Sombra ao focar */
    outline: none; /* Remove a borda padrão do foco */
}

.form-buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px; /* Adiciona um espaço acima do contêiner de botões */
}

.submit-button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #DEAF5E;
    color: white;
    margin-right: 10px; /* Espaço entre os botões */
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #c79d55;
}

.submit-button:nth-child(2) {
    margin-right: 0; /* Remove o espaço extra do segundo botão */
}

