.modal-title {
    text-align: center;
    color: #DAA520; /* Cor dourada */
    margin-bottom: 20px; /* Espaço abaixo do título */
    font-size: 18px; /* Tamanho da fonte do título */
}

.create-user-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos filhos */
    padding: 15px; /* Adicionando padding ao formulário */
}

.form-group-user {
    margin-bottom: 15px; /* Espaço abaixo de cada campo */
    width: 100%; /* Para garantir que o campo ocupe 100% da largura */
    max-width: 400px; /* Largura máxima dos inputs */
}

.form-input-user {
    width: 100%; /* Faz o input ocupar toda a largura do seu container */
    padding: 10px; /* Padding interno dos inputs */
    border: 1px solid #DAA520; /* Borda dourada */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para os campos */
    font-size: 14px; /* Tamanho da fonte */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
}

.form-input-user:focus {
    border-color: #FFD700; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(218, 165, 32, 0.5); /* Sombra ao focar */
    outline: none; /* Remove a borda padrão do foco */
}

.submit-button-user {
    background-color: #DAA520; /* Botão dourado */
    color: white; /* Texto branco */
    padding: 10px; /* Padding do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor pointer para o botão */
    font-weight: bold; /* Texto em negrito */
    font-size: 14px; /* Tamanho da fonte do botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    width: 100%; /* Faz o botão ocupar toda a largura do seu container */
    max-width: 200px; /* Largura máxima do botão */
}

.submit-button-user:hover {
    background-color: #FFD700; /* Cor do botão ao passar o mouse */
}
