@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

.ms-hero {
    background-image: 
        linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%),  /* Gradiente */
        url('../assets/fundo.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; 
    padding: 140px 0;
    position: relative;
    display: flex;             /* Flexbox para alinhar os itens */
    align-items: center;       /* Centralizar verticalmente */
    overflow: visible; /* Garante que a imagem seja visível */
    width: 100%; /* Permite que o conteúdo se ajuste */
}

.ms-contentor {
    width: 100%; /* Permite que o conteúdo se ajuste */
    margin-left: 100px;
    text-align: left;
    justify-content: flex-start;
    align-items: center; 
    flex-wrap: wrap;
    z-index: 1; /* Garante que o conteúdo fique acima do gradiente */
    overflow: visible; /* Garante que a imagem seja visível */
}

.ms-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; /* Garante que a camada fique atrás do conteúdo */
}

.ms-inicio-img {
    width: auto !important;        /* Calcula automaticamente com base na altura */
    height: auto !important;          /* Mantém a proporção */
    max-width: 900px !important;      /* Aumenta 4 vezes (ou ajuste conforme necessário) */
    max-height: 900px !important;      /* Aumenta 4 vezes (ou ajuste conforme necessário) */
    position: relative;
    margin-left: 1030px;      
    margin-top: 0px;
    z-index: 1;              /* Garante que a imagem fique acima do fundo */
}

/*botoes*/

.ms-btn-dark:hover {
    background-color: #DEAF5E;
    color: white !important;
}

.ms-btn-dark1:hover {
    background-color: #DEAF5E;
    color: white !important;
}

.ms-btn-dark {
    margin: 0;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    border-radius: 25px;
    background-color: white;
    color: #DEAF5E;
    border: none; /* Remove o contorno/borda */
    width: 300px; /* Define a largura do botão (ajuste conforme necessário) */
    text-align: center; /* Garante que o texto fique centralizado */
    padding: 9px; /* Ajusta o padding para tornar o botão mais alto e largo */
    display: block; /* Faz os botões se empilharem um em cima do outro */
    text-decoration: none;
    font-size: 24px;
}

.ms-btn-dark1 {
    margin: 0;
    border-radius: 25px;
    background-color: white;
    color: #DEAF5E;
    border: none; /* Remove o contorno/borda */
    width: 300px; /* Define a largura do botão (ajuste conforme necessário) */
    text-align: center; /* Garante que o texto fique centralizado */
    padding: 9px; /* Ajusta o padding para tornar o botão mais alto e largo */
    display: block; /* Faz os botões se empilharem um em cima do outro */
    text-decoration: none;
    font-size: 24px;
}

.ms-btn-dark2 {
    margin: 0;
    margin-left: 0;
    border-radius: 25px;
    background-color: white;
    color: #DEAF5E;
    border: none; /* Remove o contorno/borda */
    width: 150px; /* Define a largura do botão (ajuste conforme necessário) */
    text-align: center; /* Garante que o texto fique centralizado */
    padding: 5px; /* Ajusta o padding para tornar o botão mais alto e largo */
}

.ms-btn-dark3 {
    margin: 0;
    margin-left: 0;
    border-radius: 25px;
    background-color: #DEAF5E;
    color: #ffffff;
    width: 150px;
    text-align: center; /* Garante que o texto fique centralizado */
    padding: 5px; /* Ajusta o padding para tornar o botão mais alto e largo */
}

.ms-logo {
    margin-left: 95px;
}

.ms-detalhes {
    display: flex; /* Usando flexbox */
    justify-content: space-between; /* Distribui o espaço igualmente entre os itens */
    background-color: #000000;
    color: white;
    padding: 12px 20px; /* Ajustei o padding para dar mais espaço nas laterais */
}

.ms-frase {
    display: block; /* Garante que cada frase será tratada como um bloco */
    font-size: 28px;
}

.left {
    text-align: left;
    margin-left: 200px;
}

.center {
    text-align: center;
    flex-grow: 1; /* Faz com que o "center" ocupe o espaço disponível */
}

.right {
    text-align: right;
    margin-right: 200px;
}


.ms-info {
    background-color: #ffffff;
    color: white;
    padding: 100px 0;
    position: relative;
}

.ms-logo-container {
    display: flex;               /* Alinha os itens na horizontal */
    align-items: center;         /* Alinha verticalmente ao centro */
    justify-content: center;     /* Centraliza os itens horizontalmente */
}

.ms-logo-img {
    max-width: 110px;             /* Ajusta o tamanho da imagem */
    margin-right: 15px;          /* Dá um espaço entre a imagem e o texto */
}

.ms-texto-info {
    font-size: 1.6rem; 
    font-weight: 700;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

/* Footer */
.ms-footer {
    background-color: #000000;
    color: white;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Garantir que os itens se ajustem em telas pequenas */
    text-align: left; /* Alinha o texto à esquerda */
}

.ms-fim-esquerda, .ms-fim-direita {
    flex: 1; /* Faz com que ambos ocupem o mesmo espaço */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.ms-fim-esquerda {
    flex: 1; /* Faz com que a parte esquerda ocupe o espaço disponível */
    display: flex;
    flex-direction: row; /* Organiza os botões em linha */
    gap: 15px; /* Espaço entre os botões */
    align-items: center; /* Alinha os itens no centro verticalmente */
}

.ms-fim-direita {
    display: flex;
    flex-direction: column; /* Coloca as redes sociais e política de privacidade em coluna */
    align-items: flex-end; /* Alinha os itens à direita */
    margin-left: 40px;
}

.ms-fim-esquerda p, .ms-fim-direita p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.ms-btn-dark2, .ms-btn-dark3 {
    margin: 5px 0;
    width: 100px; /* Ajuste a largura dos botões conforme necessário */
    border-radius: 25px;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
}

.ms-privacidade {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.ms-redes-sociais {
    display: flex;
    flex-direction: row; /* Exibe os ícones das redes sociais lado a lado */
    gap: 15px; /* Espaçamento entre os ícones */
    align-items: center;
}

.ms-icons {
    display: flex;
    gap: 15px;
}

.ms-social-icon {
    color: white;
    transition: color 0.3s ease;
}

.ms-social-icon:hover {
    color: #DEAF5E;
}

@media (max-width: 768px) {
    .ms-footer {
        flex-direction: column; /* Coloca os elementos em uma coluna quando a tela for pequena */
        text-align: center;
    }

    .ms-fim-esquerda, .ms-fim-direita {
        margin-left: 0;
        margin-right: 0;
    }

    .ms-redes-sociais {
        align-items: center;
        margin-top: 10px;
    }

    .ms-fim-direita {
        align-items: center; /* Alinha a seção de redes sociais e privacidade ao centro */
    }
}

.ms-hero img {
    max-width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

/*titulo e nome - viriatos scouting*/
.ms-nome {
    font-size: 2rem; /* Ajuste de tamanho */
    margin-top: -30px;
    font-style: italic;
    font-weight: 200;
}

.ms-titulo {
    font-size: 3.5rem; /* Ajuste de tamanho */
    margin-top: 0px;
    font-weight: 700; /* Ajuste de peso */
}

.ms-desc1 {
    font-size: 1.6rem; /* Ajuste de tamanho */
    font-weight: 600;
    margin-top: 20px;
    color: #39639C;
}

.ms-desc2 {
    font-size: 1.6rem; /* Ajuste de tamanho */
    font-weight: 600;
    margin-top: 20px;
    color: #19BBE2;
}

.ms-corpo {
    font-size: 1.2rem; 
    font-weight: 100;
    margin-top: 18px;
    margin-bottom: 30px;
    color: #212121;
}

.ms-desc1, .ms-desc2, .ms-corpo {
    max-width: 500px; /* Exemplo de largura máxima */
    margin-left: auto;
    margin-right: auto;
}

.ms-text-start {
    text-align: left;
}

.ms-text-end {
    text-align: right;
}

.ms-hero .btn {
    margin: 20px 10px;
}

.ms-navbar-brand img {
    transform: scale(1.5); 
    transition: transform 0.3s ease; 
}

/* Carrossel */
.ms-middle-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 160px 0;
}

.ms-carousel-inner {
    background: linear-gradient(to right, transparent 50%, #f0f0f0 50%);
}


.ms-mobile-image {
    width: 50%;
    max-width: 300px; 
    margin-right: 0px; /* Espaço entre a imagem e o texto */
    margin-left: 170px;
}

.ms-login-info {
    width: 50%;
    text-align: left;
    margin-left: 500px; /* Move o texto para a direita sem afetar a imagem */
    flex-grow: 1; /* Faz com que o texto ocupe o restante do espaço disponível */
}

.ms-login-info h3 {
    font-size: 1.8rem;
    margin-bottom: 40px; /* Aumenta o espaço abaixo do título */
    color: #DEAF5E;
}

.ms-login-info p {
    font-size: 1rem;
    margin: 20px 0 0 0px; /* Ajusta a margem superior e a margem à esquerda do parágrafo */
    text-align: justify; /* Justifica o texto */  
    margin-right: 150px;
}
