/* src/Style/Navbar.css */


.navbarp {
    position: fixed; /* Fixa a navbar no topo */
    top: 0; /* Fica no topo da tela */
    left: 250px; /* Deixa espaço para a sidebar */
    right: 0; /* Ocupa até o lado direito */
    height: 30px; /* Altura fixa da navbar */
    background-color: #000000; /* Cor de fundo da navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    z-index: 999; /* Z-index para sobreposição */
    display: flex; /* Flexbox para conteúdo da navbar */
    align-items: center; /* Alinha verticalmente */
    padding: 0 20px; /* Preenchimento lateral */
}


.user-infop {
    margin-left: auto; /* Coloca o conteúdo do usuário à direita */
}

.notification-iconp {
    font-size: 24px; /* Tamanho do ícone de notificação */
    color: white; /* Cor do ícone de notificação */
    margin-right: 15px; /* Espaçamento entre o ícone de notificação e o ícone do usuário */
}

.user-iconp {
    font-size: 24px; /* Tamanho do ícone de usuário */
    color: white; /* Cor do ícone de usuário */
}
 