/* src/Style/Sidebar.css */

.sidebar {
    width: 250px; /* Largura da sidebar */
    background-color: #ffffff; /* Cor de fundo */
    color: #34495e; /* Cor do texto */
    position: fixed; /* Mantém a sidebar fixa */
    height: 100vh; /* Altura total da tela */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    display: flex; /* Flexbox para layout */
    flex-direction: column; /* Direção vertical */
    justify-content: space-between; /* Espaço entre os elementos */
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total */
    
}

/* Linha à direita da sidebar */
.sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px; /* Alinha a linha à direita da sidebar */
    width: 2px; /* Largura da linha */
    height: 100%; /* Altura total */
    background-color: rgb(0, 0, 0); /* Cor da linha */
}
.sidebar-header {
    background-color: #e0e0e0; /* Cor de fundo da header */
    padding: 10px; /* Preenchimento */
    border-radius: 5px; /* Bordas arredondadas */
    display: flex; /* Flexbox para centralização */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza verticalmente */
}

.dashboard {
    display: flex;
    justify-content: center; /* Centraliza o badge */
    margin: 20px 0;
}

.dashboard .badge {
    background-color: #d4af37; /* Fundo dourado */
    color: #ffffff; /* Texto branco */
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.dashboard-icon {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.dashboard-label {
    font-size: 18px;
    font-weight: bold;
}


.divider {
    border: 1px solid gold; /* Linha dourada */
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 16px;
    color: #34495e;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #f0f0f0;
}

ul li a {
    color: #34495e;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 500;
}

ul li i {
    font-size: 20px;
    color: #d4af37;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #34495e;
    position: relative;
}

.dropdown-toggle:hover {
    background-color: #f0f0f0;
}

.arrow {
    margin-left: auto;
    font-size: 12px;
    color: #34495e;
    padding-left: 5px;
}

.dropdown-menu {
    list-style-type: none;
    padding: 5px 20px;
    background-color: #fafafa;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 10px;
}

.dropdown-menu li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #34495e;
    padding: 8px 0;
    transition: background-color 0.3s ease;
}

.dropdown-menu li i {
    font-size: 18px;
    color: #d4af37;
    margin-right: 8px;
}

.dropdown-menu li:hover {
    background-color: #eaeaea;
}

.footer {
    padding-top: 10px;
    margin-top: auto;
    text-align: center;
}

.footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    text-decoration: none;
    color: #34495e;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer a i {
    font-size: 18px;
    margin-right: 8px;
    color: #d4af37;
}

.footer a:hover {
    color: #d4af37;
}

.sidebar-logo {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.dashboard-link {
    text-decoration: none;  /* Remove o sublinhado */
    color: inherit;  /* Herda a cor do texto para manter a consistência */
}